<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Angular 8/9 Chart.js Examples</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group mb-4">
        <li class="list-group-item" routerLinkActive="active" routerLink="line-chart">Line Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="bar-chart">Bar Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="doughnut-chart">Doughnut Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="radar-chart">Radar Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="pie-chart">Pie Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="bubble-chart">Bubble Chart</li>
      </ul>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>